html {
  font-size: 18px;
}
body {
  height: max-content;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  color: hsl(233, 8%, 62%);
  font-size: 1rem;
  margin: 0;
  overflow-x: hidden;
  background-color: hsl(0, 0%, 98%);
}
a {
  color: hsl(233, 8%, 62%);
  text-decoration: inherit;
}
h1,
h2,
h3,
h4 {
  color: hsl(233, 26%, 24%);
}
input[value="Request Invite"] {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  border-width: 2px 4px;
  border-radius: 40px;
  font-family: inherit;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  height: 50px;
  width: 150px;
}

header {
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  z-index: 50;
}

.navbar,
.hamburger {
  display: none;
}

header > nav > *:hover {
  padding: 0 0 15px;
  color: hsl(233, 26%, 24%);
  border-width: 0 0 10px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border-image-slice: 1;
}
nav > * {
  margin: 10px;
}
.firstCard {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: center;
}
.mockUps {
  position: relative;
  top: -100px;
  left: 150px;
  padding-left: 250px;
  z-index: -10;
  background-image: url("/images/bg-intro-desktop.svg");
  background-position: top -100px left 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.nextGen {
  margin-left: 10%;
  margin-top: -30%;
}

.secondCard {
  background: hsl(220, 16%, 96%);
  display: flex;
  flex-flow: row wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.whyChoose {
  text-align: justify;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 30vw;
}

.reasonsToChoose {
  display: flex;
  justify-content: space-evenly;
  column-gap: 15px;
}

.thirdCard {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.articlesCardsWrapper {
  display: flex;
  justify-content: space-evenly;
}

.articleCard {
  background: hsl(0, 0%, 100%);
}
.articleCard > img {
  max-width: 100%;
  height: 300px;
  padding: 5px;
  border-radius: 10px;
  display: block;
}

.articleCard > article {
  max-width: 70%;
  margin: 20px;
  font-size: 0.7rem;
}

.articleCard > article > a {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  font-size: 1rem;
}
.articleCard > article > a:hover {
  color: hsl(192, 70%, 51%);
}

footer {
  background: hsl(233, 26%, 24%);
  padding: 20px;
}

.footer {
  margin-left: 10%;
  margin-right: 10%;
}

.footerLeft {
  display: flex;
  justify-content: space-between;
}
.logos > img {
  padding: 25px;
  object-fit: contain;
}
.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.footerLeft > nav {
  display: flex;
  column-gap: 15px;
}

.footerLeft > nav > * {
  margin: 0;
  display: flex;
  flex-flow: column;
}

.footerLeft > nav > * > a:hover {
  color: hsl(192, 70%, 51%);
}

.footerList1 {
  display: flex;
  flex-direction: column;
}

.footerList2 {
  display: flex;
  flex-direction: column;
}

.footeritem {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}

@media (min-width: 1024px) {
  .firstCard {
    flex-wrap: nowrap;
  }
  .secondCard {
    height: 80vh;
    z-index: -20;
    position: relative;
    top: -270px;
  }
  .thirdCard {
    height: 80vh;
    width: 80vw;
    position: relative;
    top: -270px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
  body {
    text-align: center;
  }
  header > nav,
  .request {
    display: none;
  }
  .hamburger {
    display: inline;
    background: url("/images/icon-hamburger.svg");
    height: fit-content;
    width: 25px;
    border: none;
    cursor: pointer;
  }
  .navbar > a {
    color: hsl(233, 26%, 24%);
  }
  .navbar.active {
    order: 1;
    align-self: flex-end;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 98%);
  }
  .hamburger.active {
    background-image: url("/images/icon-close.svg");
    background-repeat: no-repeat;
  }
  .firstCard {
    /* flex-direction: column; */
    justify-content: center;
    padding: 10px 0;
  }
  .mockUps img {
    max-width: 80%;
  }
  .mockUps {
    width: 100vw;
    left: 0;
    padding: 0;
    background-image: url("/images/bg-intro-mobile.svg");
    background-position: bottom -100px left;
    background-repeat: no-repeat;
  }
  .nextGen {
    width: 80vw;
    align-items: center;
    text-align: center;
  }
  .secondCard {
    text-align: center;
    padding: 10px;
  }
  .whyChoose {
    flex: 1;
    text-align: center;
    align-items: center;
    width: 80vw;
  }
  .reasonsToChoose {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .thirdCard {
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .articlesCardsWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .articleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  footer .footerLeft,
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerLeft > nav * > * {
    margin: 10px;
    margin-left: 10%;
  }
}
